<%= simple_form_for(@diary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: '未入力でもOK', input_html: {class: 'span7'} %>
    <%= f.input :content, input_html: {class: 'span7', rows: 6} %>
    <%= f.input :tag_list, as: :string %>
    <%= f.input :user_id, as: :hidden %>
    <%= f.input :record_at, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
