<% content_for :addjs do %>
<script>
$(function(){
  var pattern = "<%= Tag.all.map{|t| t.name}.join(",") %>".split(",");
  $('#taglist').autocomplete(pattern, {
      minChars: 0, // 文字入力なしで↓キーを押すだけで候補が表示されるように
      multiple: true,
      max: 100, // 最大候補表示数
      //mustMatch: true, //候補にあるものしか入力できないようにする
      //autoFill: true //入力中にオートフィルしてくれるみたいだけど、他の文字が入っちゃったりすることがあったので（日本語だからかな）、無効にしておく
  });
})
</script>
<% end %>

<%= simple_form_for(@diary) do |f| %>
  <% if @diary.errors.any? %>
    <div class="alert alert-error"><p>入力エラーがあります。下記のエラー内容を確認してください。</p></div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: '未入力でもOK', input_html: {class: 'span6'}, label: "タイトル" %>
    <%= f.input :content, input_html: {class: 'span6', rows: 8}, label: "内容" %>
    <%= f.input :tag_list, as: :string, label: "タグ <span class='desc'>カンマ区切りで複数指定可能</span>".html_safe, input_html: {id: 'taglist', class: 'span5', placeholder: '矢印キーを押下すれば既存のタグリストが表示されます'} %>
    <%= f.input :image, as: :file, label: "画像" %>

    <%= f.input :record_at, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
