<div class="row">
  <div class="span7 offset2">

    <% @years.each do |year| %>
      <%= link_to "#{year}年", hilight_diaries_path(year: year), class: "btn btn-primary" %>
    <% end %>

    <%= link_to "隠しも表示", hilight_diaries_path(nosecret: true, year: @year), class: "btn" %>

    <% @diaries.each do |diary| %>
      <h3>
        <span class="date"><%= diary.record_at.to_s(:normal) %></span><%= " ほど" if diary.is_about_date.present? %>　
        <span class="hilight"><%= link_to diary.title_mod, diary_path(diary) %></span>
        <small><%= tags_link(diary) %></small>
      </h3>
    <div class="well well2">
      <p><%= link_to(image_tag(diary.image(:large)), diary.image(:original)) if diary.image.present? %></p>
      <p><%= sani_custom_br(diary.content) %></p>
    </div>
    <% end -%>

 </div>
</div>
