<div class="row">
  <div class="col-sm-2 col-sm-offset-1 well">
    <% @diaries.each do |diary| %>
      <%= link_to "#{dispdate(diary.record_at, false)} #{diary.title_mod}", "#diary#{diary.id}" %>
      <hr>
    <% end %>
  </div>
  <div class="col-sm-8">

    <% @years.each do |year| %>
      <%= link_to "#{year}年", hilight_diaries_path(year: year), class: "btn btn-primary" %>
    <% end %>

    <%= link_to "隠しも表示", hilight_diaries_path(nosecret: true, year: @year), class: "btn btn-default" %>

    <% @diaries.each do |diary| %>
      <h3 id="diary<%= diary.id %>">
        <span class="date"><%= dispdate(diary.record_at, true) %></span><%= " ほど" if diary.is_about_date.present? %>　
        <span class="hilight"><%= link_to diary.title_mod, diary_path(diary) %></span>
        <small><%= tags_link(diary) %></small>
      </h3>
    <div class="well well2">
      <p><%= link_to(image_tag(diary.image(:large)), diary.image(:original)) if diary.image.present? %></p>
      <p><%= sani_custom_br(diary.content) %></p>
    </div>
    <% end -%>

 </div>
</div>
