<%= link_to "タグ管理", tags_path, class: "btn"  %>

<h2 class="normal2"><%= link_to "日記一覧", diaries_path %>
  <%= "　＜タグで絞込み: #{@tag}＞　" if @tag.present? %>
  <%= "　＜検索ワード: #{@search_word}＞　" if @search_word.present? %>
</h2>

<%= simple_form_for(@search_diary, method: "get") do |f| %>
  <%= f.input :search_word, as: :string, label: "日記検索" %>
  <%= f.submit "検索する", class: "btn btn-info" %>
<% end -%>

<%= paginate @diaries, window: 2 %>

<% @diaries.each do |diary| %>
<div class="well">
<h4><small><%= diary.record_at.to_s(:normal) %></small>　<%= link_to diary.title_mod, diary_path(diary) %> <%= tags_link(diary) %></h4>
  <p><%= link_to(image_tag(diary.image(:small)), diary.image(:large), {class: colorbox_class}) if diary.image.present? %></p>
  <p><%= sani_custom_br(diary.content) %></p>
  <%= link_to '編集', edit_diary_path(diary) %>
  <%= link_to '削除', diary, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>
