<h2 class="normal2"><%= "#{@diary.record_at.to_s(:normal)}の日記" %></h2>
<%= link_to(image_tag(@diary.image(:small)), @diary.image(:large), {class: colorbox_class}) if @diary.image.present? %>
<p>
  <b>Tag:</b>
  <%= @diary.tag_list %>
</p>

<p>
  <b>Title:</b>
  <%= @diary.title %>
</p>

<p>
  <b>Content:</b>
  <%= sani_custom_br(@diary.content) %>
</p>


<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
