<div class="mt20"></div>
<% if @is_past %>
  <div class="page-header">
    <%= link_to '一覧に戻る', senses_path, class: "btn btn-light" %>
  </div>
<% end %>

<div class="bd-callout bd-callout-warning">
  意識付け＝目標みたいなもの
</div>

<div class="row">
<% @senses.each do |sense| %>
<div class="col-sm-3">
  <div class="card">
  <div class="card-header">
    <h5 class="card-title"><%= sense.title %></h5>
    <h6 class="card-subtitle text-muted"><%= sense.description %></h6>
    <p class="alert alert-info mb-0 text-center"><%= sense.start_at %> - <%= sense.end_at %></p>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(auto_link(sense.content)) %></p>
    <%= link_to '編集', edit_sense_path(sense), class: "card-link" %>
    <%= link_to '削除', sense, method: :delete, data: { confirm: '本当に削除してもよろしいですか?' }, class: "card-link" %>
  </div>
</div>
</div>
<% end %>
</div>

<% unless @is_past %>
<div class="buttons mt20"></div>
  <%= link_to '新しい「意識付け」', new_sense_path, class: "btn btn-info" %>
  <%= link_to '過去のもの', past_senses_path, class: "btn btn-light" %>
</div>
<% end %>
