<h1 class="normal">タグ一覧</h1>

<table class="table table-bordered">
  <tr>
    <th>タグ名</th>
    <th>日記で使用されている数</th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name %></td>
    <td><%= Diary.tagged_with(tag.name).count %></td>
    <td>
      <%= link_to '詳細', tag %> /
      <%= link_to '編集', edit_tag_path(tag) %> /
      <%= link_to '削除', tag, method: :delete, data: { confirm: '本当に削除してもよろしいですか?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新しいタグを作成', new_tag_path, class: "btn btn-light" %>
