<h1>Listing habits</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Graph type</th>
    <th>Data type</th>
    <th>Data unit</th>
    <th>Reminder</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @habits.each do |habit| %>
  <tr>
    <td><%= habit.title %></td>
    <td><%= habit.graph_type %></td>
    <td><%= habit.data_type %></td>
    <td><%= habit.data_unit %></td>
    <td><%= habit.reminder %></td>
    <td><%= link_to 'Show', habit %></td>
    <td><%= link_to 'Edit', edit_habit_path(habit) %></td>
    <td><%= link_to 'Destroy', habit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Habit', new_habit_path %>
