<table class="table table-striped table-bordered table-hover">
  <tr>
    <td></td>
  <% @date_term.each do |date| %>
    <td><%= date.to_s(:short) %></td>
  <% end %>
  </tr>

<% @habits.each do |habit| %>
  <tr>
    <td>
      <%= habit[:title] %>
      <span class='label label-inverse'><%= habit[:data_unit] %></span>
    </td>
    <% habit[:records].each do |record| %>
      <td align="center">
        <%#= link_to '記録', new_habit_record_path(habit.id, habit_id: habit.id, record_at: date) %>
        <%= best_in_place record, :value, nil: "未入力" %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to '習慣を作成する', new_habit_path %>
