<div class="clearfix">
  <p style="float: left"><%= link_to "＜＜", habits_path(one_day: @one_day - 7), class: "btn" %></p>
  <p style="float: right"><%= link_to "＞＞", habits_path(one_day: @one_day + 7), class: "btn" %></p>
  <p style="text-align:center"><%= link_to "本日(#{Date.today})", habits_path, class: "btn" %></p>
  <%= form_tag habits_path, method: :get, style: "text-align:center" do %>
    <%= date_select :record_at, :one_day, {default: @one_day}, {class: "span2"} %>
    <%= submit_tag "移動" %>
  <% end %>
</div>
<table class="table table-bordered">
  <tr>
    <th></th>
    <% @date_term.each do |date| %>
      <th class="center <%= dateclass(date) %>">
        <%= dispdate(date) %>
      </th>
    <% end %>
  </tr>

<% @habits.each do |habit| %>
  <tr>
    <th>
      <%= link_to habit[:title], habit_path(habit[:id]) %>
      <% if habit[:value_unit].present? %>
        <span class='label label-inverse'><%= habit[:value_unit] %></span>
      <% end %>
    </th>
    <% habit[:records].each do |record| %>
      <td class="center">
        <%#= link_to '記録', new_habit_record_path(habit.id, habit_id: habit.id, record_at: date) %>
        <%= input_value_for_inline_edit(record) %>
        <%= best_in_place record, :memo, nil: "memo", display_with: lambda{|v| dispmemo(v).html_safe}, type: :textarea, path: url_for(controller: :records, action: :update_or_create, habit_id: record.habit_id, record_at: record.record_at) %>
      </td>
    <% end %>
  </tr>
<% end %>

  <tr>
    <th><%= link_to "日記", diaries_path %></th>
    <% @date_term.each do |date| %>
      <td>
        <%= link_to "<i class='icon-pencil'></i>日記を書く".html_safe, new_diary_path(record_at: date), class: "btn" %><br><br>
        <% @diaries[date].each do |diary| %>
          <%= show_diary_for_toppage(diary) %>
          <%= "<hr>".html_safe %>
        <% end if @diaries[date].present? %>
      </td>
    <% end %>
  </tr>

</table>

<br />

<%= link_to '習慣を登録する', new_habit_path, class: "btn" %>
