<p style="text-align:center"><%= link_to "今月(#{Date.today.strftime("%Y年%m月")})", result_habits_path, class: "btn btn-default" %></p>
<%= form_tag result_habits_path, method: :get, style: "text-align:center" do %>
  <%= date_select :target, :month, {default: @target_month, discard_day: true, use_month_numbers: true}, {class: "span2"} %>
  <%= submit_tag "移動" %>
<% end %>

<div class="page-header"><h3>テーブル表示</h3></div>

<table class="table table-bordered">
  <tr>
    <th>#############</th> <!-- ここに日本語以外の文字を入れないとセル幅が広くなってくれなかった（widthが効かない） -->
    <% @date_term.each do |date| %>
      <th class="center <%= dateclass(date) %>">
        <%= dispdate(date) %>
      </th>
    <% end %>
  </tr>

<% @habits_for_table.each do |habit| %>
  <tr>
    <th>
      <%= link_to habit[:title], habit_path(habit[:id]) %>
    </th>
    <% @date_term.each do |date| %>
      <td class="center">
        <% found_record = habit[:records].detect{|r| r.record_at == date} if habit[:records].present? %>
        <%= result_icon(found_record) if found_record.present? %>
      </td>
    <% end %>
  </tr>
<% end %>

</table>


<div class="page-header"><h3>折れ線グラフ表示</h3></div>
<%= high_chart("chart1", @habits_for_oresen_graph) %>


<div class="page-header"><h3>棒グラフ表示</h3></div>
<%= high_chart("chart2", @habits_for_bou_graph) %>


