<p>
  <b>Title:</b>
  <%= @habit.title %>
</p>

<p>
  <b>ステータス:</b>
  <%= @habit.status_name %>
</p>

<p>
  <b>Result type:</b>
  <%= @habit.result_name %>
</p>

<p>
  <b>Data type:</b>
  <%= @habit.value_name %>
</p>

<p>
  <b>値の単位:</b>
  <%= @habit.value_unit %>
</p>

<p>
  <b>Reminder:</b>
  <%= @habit.reminder %>
</p>

<p>
  <b>Memo:</b>
  <p><%= sani_custom_br(@habit.memo) %></p>
</p>


<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', habits_path %>
