<div class="row">
  <div class="col-sm-7 col-sm-offset-2"">

<div class="form-actions mb30">
  <%= link_to '戻る', root_path, class: "btn btn-default" %>
  <%= link_to "編集する", edit_habit_path, class: "btn btn-info" %>
</div>

<table class="table table-striped table-bordered table-hover">
  <tr><th width="200">タイトル</th><td><%= @habit.title %></td></tr>
  <tr><th>ステータス</th><td><%= @habit.status_name %></td></tr>
  <tr><th>結果タイプ</th><td><%= @habit.result_name %></td></tr>
  <tr><th>データタイプ</th><td><%= @habit.value_name %></td></tr>
  <tr><th>データの単位</th><td><%= @habit.value_unit %></td></tr>
  <tr><th>リマインダー(未実装)</th><td><%= @habit.reminder %></td></tr>
  <tr><th>メモ</th><td><p><%= sani_custom_br(@habit.memo) %></p></td></tr>
</table>

<h1 class="normal">レコード一覧</h1>
<%= paginate @records %>
<% @records.each do |record| %>
  <h4><%= record.record_at %></h4>
  <p><%= "#{record.value} #{@habit.value_unit}" %></p>
  <% if record.memo.present? %>
    <div class="description well well-narrow"><%= simple_format(sani_custom(record.memo)) %></div>
  <% end %>
  <hr>
<% end %>
<%= paginate @records %>

 </div>
</div>
