<p>
  <b>Title:</b>
  <%= @habit.title %>
</p>

<p>
  <b>Graph type:</b>
  <%= @habit.graph_name %>
</p>

<p>
  <b>Data type:</b>
  <%= @habit.data_name %>
</p>

<p>
  <b>値の単位:</b>
  <%= @habit.data_unit %>
</p>

<p>
  <b>Reminder:</b>
  <%= @habit.reminder %>
</p>


<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', habits_path %>
